# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# Environments / secrets
# =====================
.env
.env.*
*.env

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Streamlit (future)
# =====================
.streamlit/secrets.toml

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
