# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# Environments / secrets
# =====================
.env
.env.*
*.env

# =====================
# Virtual environments
# =====================
venv/

# =====================
# Build artifacts
# =====================
dist/
build/
*.egg-info/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Streamlit
# =====================
.streamlit/secrets.toml

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
